# Node.js bağımlılıkları
node_modules/

# Derlenmiş dosyalar
dist/

# IDE konfigürasyon dosyaları
.vscode/
.idea/

# Log dosyaları
*.log

# Test kapsama raporları
coverage/

# Vim geçici dosyaları
*.swp

# Diğer gereksiz dosyalar
.DS_Store